venv/

__pycache__/

.vscode/

supplemental/database_build/bp_data/

/static/node_modules

innocuous.py

.DS_Store

static/node_modules/

.env

# temporary

templates/list-view.html
templates/list-view-backup.html

static/assets/js/forceCreator/list-view.js

config.py