body {
    background: none;
    color: #000;
}

td {
    vertical-align: top;
}

ul {
    margin: 0in;
}

td.boxed {
    border: 1px solid gray;
    margin-left: 0.23in;
    margin-right: 0.23in;
    border-radius: 3px;
    padding: 0.1in;
}

#faction-specialrules, #faction-option, #commander-commandpoints, #commander-specialrules, #commander-mainweapons, #commander-sidearms {
    margin-top: 12pt;
}

#units, #characters, #artillery, #ships, #misc {
    margin-top: 12pt;
    overflow: hidden; /* Clear floats for proper layout */
    page-break-inside: avoid !important;
}

#units > h3, #characters > h3, #artillery > h3, #ships > h3, #misc  > h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

div.unit, div.character, div.artillery, div.ship, div.misc {
    border: 1px solid gray;
    border-radius: 3px;
    width: 46.5%;
    float: left;
    margin-right: 1%;
    margin-bottom: 12pt;
    padding: 0.1in;
    page-break-inside: avoid !important;
}

div.unit-mainweapons, div.character-commandpoints, div.character-unitrestrictions, div.character-extrarules, div.character-specialrules, table.artillery-stats, div.misc-cost, div.misc-details {
    margin-top: 6pt;
}

div.unit-cost-breakdown {
    font-size: 11pt;
}

div.unit-stats {
    border: 1px solid gray;
}

 td.unit-stat-value {
    text-align: right;
 }

 td.unit-equipment {
    padding: 3px;
    padding-left: 12px;
 }
