<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WW9DH25XE0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WW9DH25XE0');
    </script>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/favicon/favicon-16x16.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=IM+Fell+English:ital@0;1&family=Rosarivo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9fd2e6d27.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='assets/js/jquery-3.6.3.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <!-- Responsive meta tag for Bootstrap. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            
        {% endblock title %}
    </title>
</head>
<body class='min-vh-100 bg-secondary'>
    
  <nav class='navbar navbar-expand-md sticky-top px-2 py-1 bg-secondary border border-2 border-top-0 border-start-0 border-end-0 border-info min-vw-100 bg-warning'>
    <div class='container'>
      <a class='navbar-brand text-info fell fs-6' href='/new'>B&P FORCE CREATOR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars text-info"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class='navbar-nav'>
          {% if session['username'] %}
            <a class="nav-item nav-link text-info fell" href="/users/{{ session['username'] }}">Account Info</a>
            <a class="nav-item nav-link text-info fell" href="/user/logout">Log Out</a>
          {% else %}
            <a class="nav-item nav-link text-info fell" href="/user/new">Register</a>
            <a class="nav-item nav-link text-info fell" href="/user/login">Log In</a>         
          {% endif %}
          <a class="nav-item nav-link text-info fell" href="/contact">Contact</a>         
          <a class="nav-item nav-link text-info fell" href="/known-issues">Known Issues</a>         
        </div>
      </div>
    </div>
  </nav>

  <div class='container-fluid bg-primary'>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class='collapse container p-0 bg-secondary' id='main-area'>
      {% block content %}    
      
      {% endblock content %}
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {% block scripts %}    
      
    {% endblock scripts %}
</body>
</html>