{% extends 'base.html' %}

{% block title %}
    Force Creator
{% endblock title %}

{% block content %}
    
    <div class='container-fluid min-vh-100 bg-primary'>
        <div class='collapse container min-vh-100 p-0 bg-secondary border border-2 border-top-0 border-bottom-0 border-info' id='main-area'>
            
            <!-- HEADER -->
            <div class='container-fluid border border-5 border-start-0 border-end-0 border-secondary bg-warning'>
                <h1 class='main_header m-1 text-center'>
                    <i>Blood & Plunder Force Creator</i>
                </h1>
            </div>

            <div class='container p-2 pt-0 m-0'>
                
                <!-- MAIN SELECT  -->
                <div class='container-fluid rounded-3 bg-warning p-0 pe-3'>

                    <form>
                    <div class='row'>

                        <div class='col m-1 ms-0'>                            
                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.force_name.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.force_name(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>
                            
                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.point_max.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    <div class='row g-0'>
                                        <div class='col-6 col-md-4 p-0'>
                                            {{force_selection.point_max(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                        </div>
                                        <div class='col p-0'>
                                            <!-- Empty space next to max point input -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <!-- Empty space below point max label -->
                                </div>
                                <div class='col-8 p-0 fell text-info fs-6' id='unit-size-range-display'>
                                    <!-- Space under point max input (filled by js) -->
                                </div>
                            </div>
                        </div>

                        <div class='col m-1 ms-0'>      

                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_nation.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_nation(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>
                                          
                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_faction.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_faction(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>

                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_commander.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_commander(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>

                        </div>

                    </div>
                    </form>
                    
                </div>

                <!-- WELCOME AREA -->
                <div class='container-fluid rounded-3 bg-warning p-2 mt-1 mb-0' id='welcome-area'>
                    <div class='container mx-auto mb-0'>
                        <h1 class='fell text-info type-shadow text-center mt-1'>Welcome to the FORCE CREATOR</h1>
                        <h2 class='fell text-info type-shadow text-center'>for Blood & Plunder by Firelock Games</h2>
                        <hr class='border border-secondary border-3 rounded-2 opacity-100'>
                        <div class='row'>
                            <div class='col-6'>
                                <ul class='fell text-info fs-5'><span class='type-shadow'>DO NEXT / TODAY</span>
                                    <li>Add User functionality. (Achieve by end of Thu)</li>
                                    <li>Clean up special rules table and relations.</li>
                                    <li>Check data packing function string things.</li>
                                </ul>
                                <ul class='fell text-info fs-5'><span class='type-shadow'>DONE SINCE SUNDAY</span>
                                    <li>Finished change/removal effects for Nation/Faction/Commander/ComponentSelector.</li>
                                    <li>Fixed bug where clicking near expander icon would sometimes work without changing the icon.</li>
                                    <li>Organized models.py</li>
                                    <li>Updated front end Character display so only viable choices are visible. Major update to Character menu display.</li>
                                    <li>Fixed commander lists so that full lists are available for each nation (required multi to multi data).</li>
                                    <li>Split up character.details disordered information into 10 new columns.</li>
                                    <li>Data entry for new connecting tables.</li>
                                    <li>Added multi-multi db structure for commandernationality, characternationality, characterfaction, and characterspecialrule.</li>
                                    <li>Removed some unneeded records and table columns from db.</li>
                                    <li>Added functionality for updating and storing max points and unit size range.</li>
                                    <li>Refactored to add classes for Nationality, Faction, and Commander.</li>
                                    <li>Added basic navbar with styling.</li>
                                </ul>
                            </div>
                            <div class='col-6'>
                                <ul class='fell text-info fs-5'><span class='type-shadow'>REQUIRED FOR RELEASE</span>
                                    <li>Get the +'s working.</li>
                                    <li>Create build displays for all components. (Achieve by end of Fri)</li>
                                    <li>Add remove functionality to build displays.</li>
                                    <li>Add qty functionality to build displays.</li>
                                    <li>Add assign functionality to build displays.</li>
                                    <li>Add save functionality for force lists.</li>
                                    <li>Polish welcome div.</li>
                                </ul>
                                <ul class='fell text-info fs-5'><span class='type-shadow'>MORE TO DO</span>
                                    <li>Better sorting.</li>
                                    <li>Add settings/details dropdown for forcelist name.</li>
                                    <li>Add theme change functionality via dropdowns.</li>
                                    <li>Make fully responsive and finish up styling.</li>
                                    <li>Auto-save option.</li>
                                </ul>
                            </div>                            
                        </div>
                    </div>
                </div>

                <!-- CREATION AREA -->
                <div class='collapse container-fluid m-0' id='build-area'>
                    <div class='row'>

                        <!-- MENU SIDE -->
                        <div class='col mt-1 mb-0 me-2 ms-0 pt-2 pb-2 rounded-3 bg-warning'>
                            
                            <form>
                                {{add_to_list.component_selector(class_='form-control rounded-2 text-center force-selector-field pt-0 pb-0 border border-2 border-secondary')}}
                            </form>

                            <div class='fill-screen-scrollable' id='menu'>
                            </div>
                        </div>

                        <!-- BUILD SIDE -->
                        <div class='col mt-1 mb-0 ms-0 me-0 pt-2 overflow-y-scroll rounded-3 bg-warning'>
                            
                            <div class='fill-screen-scrollable'>
                                <div class='rounded-2 text-center force-selector-field border border-2 border-secondary'>
                                    <i id='force-name' class='fs-5'></i>
                                </div>
                                
                                <div id='force-info'>
                                    <div class='collapse card m-1 border border-2 border-secondary' id='force-faction'></div>
                                    <div class='collapse card m-1 border border-2 border-secondary' id='force-commander'></div>
                                </div>
    
                                <div class='collapse card m-1 border border-2 border-secondary' id='force-characters'>
            
                                </div>
    
                                <div class='collapse card m-1 border border-2 border-secondary' id='force-units'>
            
                                </div>
                                
                                <div class='collapse card m-1 border border-2 border-secondary' id='force-artillery'>
            
                                </div>

                                <div class='collapse card m-1 border border-2 border-secondary' id='force-ships'>
            
                                </div>

                                <div class='collapse card m-1 border border-2 border-secondary' id='force-misc'>
            
                                </div>
                            
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <!-- <div class='container-fluid bg-primary sticky-bottom mb-0' id='footer'>
        <div class='container p-0 pt-1 mb-0 bg-secondary border border-2 border-top-0 border-bottom-0 border-info text-info'>
            <div class='container-fluid border border-5 border-top-0 border-start-0 border-end-0 border-secondary bg-warning m-0'>
                &nbsp;
            </div>
        </div>
    </div> -->

{% endblock content %}