{% extends 'base.html' %}

{% block title %}
    Force Creator
{% endblock title %}

{% block content %}
    
    <!-- <div class='container-fluid min-vh-100 bg-primary'>
        <div class='collapse container min-vh-100 p-0 bg-secondary border border-2 border-top-0 border-bottom-0 border-info' id='main-area'> -->
            
            <!-- HEADER -->
            <div class='container-fluid border border-5 border-start-0 border-end-0 border-secondary bg-warning'>
                <h1 class='main_header m-1 text-center'>
                    <i>Blood & Plunder Force Creator</i>
                </h1>
            </div>

            <div class='container p-2 pt-0 m-0'>
                
                <!-- MAIN SELECT  -->
                <div class='container-fluid rounded-3 bg-warning p-0 pe-3'>

                    <form>
                    <div class='row'>

                        <div class='col m-1 ms-0'>                            
                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.force_name.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.force_name(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>
                            
                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.point_max.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    <div class='row g-0'>
                                        <div class='col-6 col-md-4 p-0'>
                                            {{force_selection.point_max(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                        </div>
                                        <div class='col p-0'>
                                            <!-- Empty space next to max point input -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <!-- Empty space below point max label -->
                                </div>
                                <div class='col-8 p-0 fell text-info fs-6' id='unit-size-range-display'>
                                    <!-- Space under point max input (filled by js) -->
                                </div>
                            </div>
                        </div>

                        <div class='col m-1 ms-0'>      

                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_nation.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_nation(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>
                                          
                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_faction.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_faction(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>

                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_commander.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_commander(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>

                        </div>

                    </div>
                    </form>
                    
                </div>

                <!-- WELCOME AREA -->
                <div class='container-fluid rounded-3 bg-warning p-2 mt-1 mb-0' id='welcome-area'>
                    <div class='container mx-auto mb-0'>
                        <h1 class='fell text-info type-shadow text-center mt-1'>Welcome to the FORCE CREATOR</h1>
                        <h2 class='fell text-info type-shadow text-center'>for Blood & Plunder by Firelock Games</h2>
                        <hr class='border border-secondary border-3 rounded-2 opacity-100'>
                        <div class='row'>
                            <div class='col-6'>
                                <div class='container p-1 bg-info border border-5 border-secondary rounded-3'>
                                    <div class='container text-primary fell fs-4'>TASKS FOR ALPHA RELEASE</div>
                                    <ul class='fell text-secondary fs-5'>
                                        <li>Add functionality for user deleting a list from the user info page.</li>
                                        <li>Set up a proper welcome page with instructions, planned features, known bugs, etc.</li>
                                    </ul>
                                    <div class='container text-primary fell fs-4'>TASKS FOR BETA RELEASE</div>
                                    <ul class='fell text-secondary fs-5'>
                                        <li>Force List tool button for user to create new list from list (new save from current save).</li>
                                        <li>Add assign functionality for force list items. (add Great Warrior functionality here with commandereffect/unitoption)</li>
                                        <li>Localize all possible dependencies.</li>
                                        <li>Resets for non-Unit components. Add x's.</li>
                                        <li>Ship upgrades for Piragua and Corvette.</li>
                                        <li>Add PDF functionality.</li>
                                        <li>Make fully responsive and finish up styling.</li>
                                    </ul>
                                    <div class='container text-primary fell fs-4'>MORE PRIORITY TASKS</div>
                                    <ul class='fell text-secondary fs-5'>
                                        <li>Better sorting.</li>
                                        <li>Add other Native restrictions.</li>
                                        <li>Add warnings for permitted rule breaking (don't forget Support: X).</li>
                                        <li>Add theme change functionality via dropdowns.</li>
                                        <li>Auto-save option.</li>
                                        <li>Add structure and functionality for characters for commander-requried and commander-conflict-with.</li>
                                        <li>Fix too-fast-expander-click bug</li>
                                        <li>Make build-side interior expanders default to open.</li>
                                        <li>Add casualty - strike point threshold functionality.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class='col-6'>
                                <div class='container bg-info border border-5 border-secondary rounded-3'>
                                    <div class='container text-primary fell fs-4'>COMPLETED THIS WEEK</div>
                                    <div class='container text-secondary fell fs-5'>NOT PUSHED</div>
                                    <ul class='fell text-primary fs-5 text-primary'>
                                    </ul>
                                    <div class='container text-secondary fell fs-5'>PUSHED</div>
                                    <ul class='fell text-primary fs-5 text-primary'>
                                        <li>Integrated saved lists with users. Some UI polish and light re-structuring still required.</li>
                                        <li>Added Save and Revert functionality for force lists.</li>
                                    </ul>
                                    <div class='container text-secondary fell fs-5'>LAST WEEK</div>
                                    <ul class='fell text-primary fs-5 text-primary'>
                                        <li>Turned Misc dropdown into a button to add a custom item to list.</li>
                                        <li>Fixed a couple unit cost calculation bugs in adjustUnitCost and adjustUnitQty.</li>
                                        <li>Added nickname functionality for Characters and Commanders.</li>
                                        <li>Added nickname and option functionality for Artillery. Cleaned up Artillery table in db and updated UI.</li>                                        
                                        <li>Commander display now showing Details and Horse Option where appropriate. Commander.details cleaned out in database.</li>
                                        <li>Added a weapons and equipment table to the db.</li>
                                        <li>Added unit options from Faction Special Rules and for Torches, Climbing Gear, and Poisoned Arrows.</li>
                                        <li>Clean up special rules table and relations.</li>
                                        <li>Added ship restrictions for relevant factions in db and UI.</li>
                                        <li>Standardized db to use card suit symbols instead of names.</li>   
                                    </ul>
                                    <div class='container text-secondary fell fs-5'>TWO WEEKS AGO</div>
                                    <ul class='fell text-primary fs-5 text-primary'>
                                        <li>Added Standard Commander functionality for choosing Special Rules and added supporting data to db.</li>
                                        <li>Save functionality concept implemented on front end.</li>
                                        <li>factioneffect table now functional for unit option changes. This should now be fully functional.</li>
                                        <li>Improved reseting of display and ForceList object in response to commander and faction changes.</li>
                                        <li>factioneffect table now functional for unit class changes.</li>
                                        <li>commandereffect table now fully functional (not including Great Warrior, t0 be implemented with assignments).</li>
                                        <li>Unit Options are now fully functional.</li>
                                        <li>Ship Upgrades are now fully functional.</li>
                                        <li>Seed file adapted to restructure unorthodoxforce and unorthodoxoption into commandereffect and factioneffect.</li>
                                        <li>Additional work to seed file to standardize attack roll bonus language, add a column to Faction table for storing this bonus, and add a column to characters to distinguish those that do not count towards normal limits. Added three columns to forceoption to account for minimum unit and mounted commander requirements.</li>
                                        <li>Updated seed file to add Faction special rules to db for Factions from FotF and RtB (addsubtract column may still need data modified manually).</li>
                                        <li>Added Nickname functionality for Units and Ships in ForceList and Unit experience now shows in displays.</li>
                                    </ul>
                                    <div class='container text-secondary fell fs-5'>THREE WEEKS AGO</div>
                                    <ul class='fell text-primary fs-5 text-primary'>
                                        <li>Characters can now be added to ForceLists with full functionality and integration. User is prevented from adding two of the same Character to a ForceList.</li>
                                        <li>Ships can now be added to ForceLists with full functionality and integration other than upgrade boxes (same with unit option boxes).</li>
                                        <li>Artillery can now be added to ForceLists with full functionality and integration.</li>
                                        <li>Points/cost now updates in both object and display when Units are added or their Qty is changed.</li>
                                        <li>Unit Qty is now restricted to the ForceList's unitMin and unitMax. When the point total field is changed by user, any ForceList Units with invalid Qty will automatically update to min/max.</li>
                                        <li>Units can now be added to ForceLists with full functionality for qty changes, removal, and information expanders.</li>
                                        <li>Added User functionality.</li>
                                        <li>Finished change/removal effects for Nation/Faction/Commander/ComponentSelector.</li>
                                        <li>Fixed bug where clicking near expander icon would sometimes work without changing the icon.</li>
                                        <li>Organized models.py</li>
                                        <li>Updated front end Character display so only viable choices are visible. Major update to Character menu display.</li>
                                        <li>Fixed commander lists so that full lists are available for each nation (required multi to multi data).</li>
                                        <li>Split up character.details disordered information into 10 new columns.</li>
                                        <li>Data entry for new connecting tables.</li>
                                        <li>Added multi-multi db structure for commandernationality, characternationality, characterfaction, and characterspecialrule.</li>
                                        <li>Removed some unneeded records and table columns from db.</li>
                                        <li>Added functionality for updating and storing max points and unit size range.</li>
                                        <li>Refactored to add classes for Nationality, Faction, and Commander.</li>
                                        <li>Added basic navbar with styling.</li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

                <!-- CREATION AREA -->
                <div class='collapse container-fluid m-0' id='build-area'>
                    <div class='row'>

                        <!-- BUILD SIDE -->
                        <div class='col mt-1 mb-0 ms-0 me-0 pt-2 overflow-y-scroll rounded-3 bg-warning' id='build-side' data-list-save='{{ data }}'>
                            
                            <div class='fill-screen-scrollable'>
                                <div class='rounded-2 force-selector-field border border-2 border-secondary'>
                                    <div class='row text-center'>
                                        <div class='col-1'>
                                            <div class='container-fluid d-flex justify-content-center'>
                                                <a href='#fl-options' role='button' data-bs-toggle='collapse'>
                                                    <i class='fa-solid fa-chevron-down' id='fl-options-expand'></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class='col-7'>
                                            <i id='force-name' class='fs-5'></i>
                                        </div>
                                        <div class='col-4'>
                                             <span id='point-total-display'></span>&nbsp;/&nbsp;
                                             <span id='point-max-display'></span>
                                        </div>
                                    </div>
                                    <div class='collapse text-primry rounded-2 mt-0 px-1 text-primary' id='fl-options'>
                                        <a href='#/' role='button'><i class="fa-solid fa-clock-rotate-left mx-2" id='force-revert'></i></a>
                                        <a href='#/' role='button'><i class="fa-solid fa-floppy-disk mx-2" id='force-save'></i></a>
                                        <i class="fa-solid fa-file-arrow-down mx-2" id='force-download'></i>
                                    </div>
                                </div>

                                <div id='force-info'>
                                    <div class='collapse card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-faction'></div>
                                    <div class='collapse card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-commander'></div>
                                    <div class='card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-core-units'></div>
                                    <div class='card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-support-units'></div>
                                    <div class='card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-fighting-characters'></div>
                                    <div class='card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-civilian-characters'></div>
                                    <div class='card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-ships'></div>
                                    <div class='card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-artillery'></div>
                                    <div class='card m-1 p-1 border border-2 border-secondary rounded-2 bg-info' id='force-misc'></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- MENU SIDE -->
                        <div class='col-12-sm col-lg order-lg-first mt-1 mb-0 me-2 ms-0 pt-2 pb-2 rounded-3 bg-warning'>
                            
                            <div class='row p-0'>
                                <div class='col mx-0'>
                                    <form>
                                        {{add_to_list.component_selector(class_='form-control rounded-2 text-center force-selector-field pt-0 pb-0 border border-2 border-secondary')}}
                                    </form>
                                </div>
                                <div class='col-sm-auto mx-0 ps-0 d-flex flex-row-reverse'>
                                    <button class='btn btn-primary border border-info py-0 px-1 text-info fell' id='add-custom-button'>+ Custom</button>
                                </div>
                            </div>

                            <div class='container rounded-2 text-center text-info fs-4 fell' id='component-instructions'>
                                Please selection a Faction and Commander.
                            </div>
                            <div class='fill-screen-scrollable' id='menu'>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        <!-- </div>
    </div> -->

    <!-- FOOTER -->
    <!-- <div class='container-fluid bg-primary sticky-bottom mb-0' id='footer'>
        <div class='container p-0 pt-1 mb-0 bg-secondary border border-2 border-top-0 border-bottom-0 border-info text-info'>
            <div class='container-fluid border border-5 border-top-0 border-start-0 border-end-0 border-secondary bg-warning m-0'>
                &nbsp;
            </div>
        </div>
    </div> -->

{% endblock content %}

{% block scripts %}    
<script src="{{url_for('static', filename='assets/js/force_creator.js')}}"></script>      
{% endblock scripts %}