{% extends 'base.html' %}

{% block title %}
    Force Creator
{% endblock title %}

{% block content %}
    
    <div class='container-fluid min-vh-100 bg-primary'>
        <div class='collapse container min-vh-100 p-0 bg-secondary border border-2 border-top-0 border-bottom-0 border-info' id='main-area'>
            
            <!-- HEADER -->
            <div class='container-fluid border border-5 border-start-0 border-end-0 border-secondary bg-warning'>
                <h1 class='main_header m-1 text-center'>
                    <i>Blood & Plunder Force Creator</i>
                </h1>
            </div>

            <div class='container p-2 pt-0 pb-0 m-0'>
                
                <!-- MAIN SELECT  -->
                <div class='container-fluid rounded-3 bg-warning p-0 pe-3'>

                    <form>
                    <div class='row'>

                        <div class='col m-1 ms-0'>                            
                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.force_name.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.force_name(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>

                            <div class='row g-0 mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.point_max.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    <div class='row g-0'>
                                        <div class='col-6 col-md-4 p-0'>
                                            {{force_selection.point_max(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                        </div>
                                        <div class='col p-0 fell text-center text-info fs-6' id='unit-size-range-display'>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='col m-1 ms-0'>      

                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_nation.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_nation(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>
                                          
                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_faction.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_faction(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>

                            <div class='row mt-1 align-items-center'>
                                <div class='col-4 p-0 pe-2 text-end'>
                                    <i class='force-selector-label form-label'>{{force_selection.select_commander.label}}:</i>
                                </div>
                                <div class='col-8 p-0'>
                                    {{force_selection.select_commander(class_='form-control force-selector-field rounded-2 text-center pt-0 pb-0 border border-2 border-secondary')}}
                                </div>
                            </div>

                        </div>

                    </div>
                    </form>
                    
                </div>

                <!-- BUILD AREA -->
                <div class='collapse container-fluid m-0' id='build-area'>
                    <div class='row'>

                        <!-- SELECTION SIDE -->
                        <div class='col mt-1 mb-0 me-2 ms-0 pt-2 min-vh-95 rounded-3 bg-warning'>
                            
                            <form>
                                {{add_to_list.component_selector(class_='form-control rounded-2 text-center force-selector-field pt-0 pb-0 border border-2 border-secondary')}}
                            </form>

                            <div class='fill-screen-scrollable' id='menu'>
                            </div>
                        </div>

                        <!-- LIST SIDE -->
                        <div class='col mt-1 mb-0 ms-0 me-0 pt-2 overflow-y-scroll rounded-3 bg-warning'>
                            
                            <div class='fill-screen-scrollable'>
                                <div class='rounded-2 text-center force-selector-field border border-2 border-secondary'>
                                    <i id='force-name' class='fs-5'></i>
                                </div>
                                
                                <div id='force-info'>
                                    <div class='collapse card m-1 border border-2 border-secondary' id='force-faction'></div>
                                    <div class='collapse card m-1 border border-2 border-secondary' id='force-commander'></div>
                                </div>
    
                                <div class='collapse card m-1 border border-2 border-secondary' id='unitAndCharDisplay'>
            
                                </div>
    
                                <div class='collapse card m-1 border border-2 border-secondary' id='shipAndArtilleryDisplay'>
            
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <!-- FOOTER -->
            <div class='container-fluid border border-5 border-top-0 border-start-0 border-end-0 border-secondary bg-warning mt-1'>
&nbsp;
            </div>

        </div>
    </div>

{% endblock content %}