{% extends 'base.html' %}
{% block title %}Known Issues - ForceCreator{% endblock %}
{% block content %}
<div class='container-fluid border border-5 border-start-0 border-end-0 border-secondary bg-warning'>
    <h1 class='main_header p-1 text-center text-info'><i>Known Issues</i></h1>
</div>
<div class='container-fluid pb-2 vh-100'>
    <div class='container mt-1 bg-warning rounded-2'>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="row align-items-center p-5 text-info">
                <h2>Current Known Issues</h2>
                <ul>
                    <li><strong>Native Special Rules</strong>: Need to add "universal" Native American special rules to appropriate factions. </li>                    
                    <li><strong>Faction Rules Adding Special Rules</strong>: Faction special rules that grant additional special rules (e.g., “All units in this Force gain the Poorly Equipped and War Cry Special Rules”) don't add those rules to the PDF summary or apply them to units/components directly. </li>                    
                    <li><strong>Opening a Save in a New Window/Tab</strong>: Saved force lists sometimes load incompletely in new tabs or windows, though refreshing the page often resolves it. Monitoring for frequency and checking for lists that fail to load fully even after refresh.</li>
                </ul>

                <h2>Known Issues with Workarounds</h2>
                <p>These issues can be mitigated using custom components until a better fix is implemented:</p>
                <ul>
                    <li><strong>Missing Unit Options</strong>: Southern Tribes Standard Commanders and Northern Tribes Standard Commanders lack the bow or firelock musket option (1pt).</li>                    
                    <li><strong>Climbing Gear Cost with Explosives</strong>: Adding Climbing Gear to a unit with Explosives access incorrectly adds +2 points instead of being free.</li>
                    <li><strong>Chainshot and Grapeshot</strong>: Adding either of these means you get the other for free.</li>
                </ul>

                <h2>Not Yet Implemented</h2>
                <p>These features are planned but not yet available—they are being tracked for future updates:</p>
                <ul>
                    <li>Individualized selection of explosives (e.g., per-model choice of Grenades vs. Firepots).</li>
                    <li>Option to show/hide Climbing Gear and Torch unit options in the UI.</li>
                    <li>Fortifications</li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#main-area').show('slow', 'swing');
    });
</script>
{% endblock %}