{% extends 'base.html' %}

{% block title %}
    Force Creator Password Reset
{% endblock title %}

{% block content %}
    <div class='container-fluid border border-5 border-start-0 border-end-0 border-secondary bg-warning'>
        <h1 class='main_header p-1 text-center'>
            <i>Set New Password</i>
        </h1>
    </div>
    <div class='container-fluid pb-2 vh-100'>
        <div class='container mt-1 bg-warning rounded-2'>
            <div class="row align-items-center p-3">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <!-- Password reset form -->
                    <form id="reset-password-form" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group text-info fell fs-5 rounded-2 p-3">
                            <label for="new_password" class='mt-1'>New Password</label>
                            {{ form.new_password(class_='form-control bg-info text-primary', autocomplete='new-password') }}
                            <label for="confirm_password" class='mt-1'>Confirm New Password</label>
                            {{ form.confirm_password(class_='form-control bg-info text-primary', autocomplete='new-password') }}
                            <div class='container-fluid mt-2 p-1'>
                                <a href="{{ url_for('log_in_user') }}" class="btn btn-danger">Cancel</a>
                                {{ form.submit(class_='btn btn-success float-end') }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    <script>
        $('#main-area').show('slow', 'swing');
    </script>
{% endblock content %}