{% extends 'base.html' %}

{% block title %}
    Force Creator Register New User Form
{% endblock title %}

{% block content %}
    <div class='container-fluid border border-5 border-start-0 border-end-0 border-secondary bg-warning'>
        <h1 class='main_header p-1 text-center'>
            <i>Create New User Account</i>
        </h1>
    </div>
    <div class='container-fluid'>
        <div class='container mt-1 bg-warning rounded-2'>
            <div class="row align-items-center p-3">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <form id="add-user-form" method="POST">
                        <div class="form-group text-info fell fs-5">
                            {{ form.hidden_tag() }} <!--add type=hidden form fields -->
                    
                            {% for field in form if field.widget.input_type != 'hidden' %}
                            <p>
                                {{ field.label }}
                                {{ field(class_='form-control bg-info text-secondary') }}
                        
                                {% for error in field.errors %}
                                {{ error }}
                                {% endfor %}
                            </p>
                            {% endfor %}
                            <button type="submit" class="btn btn-success mt-1">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    <script>$('#main-area').show('slow','swing');</script>
{% endblock content %}